# Eclipse artifacts:
.metadata
.project
.classpath
.settings/
.cache

# IntelliJ artifacts:
/.idea/
*.iml

# Maven artifacts:
target/

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
