.color-highlight {
	color: #225E9B;
}

body {
	background-image:url(../images/bg.png);
}

body[class*="page-themes-bootswatch"] {
	background-image: none;
}

body[class*="page-themes-bootswatch"] .color-highlight {
	color: inherit;
}

.thumbnail-row {
	margin-top: 10px;
}

/*h1, */h2 {
  margin-top: 30px;
}

h3, h4, h5, h6 {
  margin-top: 20px;
}
